/**
 *
 * El css
 * 
 */

@font-face{
    font-family:'hb';
    src:url('../font/HelveticaNeuebold.eot');
    src:url('../font/HelveticaNeuebold.eot?#iefix') format("embedded-opentype"),
        url('../font/HelveticaNeuebold.woff') format("woff"),
        url('../font/HelveticaNeuebold.ttf') format("truetype"),
        url('../font/HelveticaNeuebold.svg#HelveticaNeuebold') format("svg");
    font-weight:lighter;
    font-style:lighter
}

@font-face{
    font-family:'hl';
    src:url('../font/HelveticaNeueLight.eot');
    src:url('../font/HelveticaNeueLight.eot?#iefix') format("embedded-opentype"),
        url('../font/HelveticaNeueLight.woff') format("woff"),
        url('../font/HelveticaNeueLight.ttf') format("truetype"),
        url('../font/HelveticaNeueLight.svg#HelveticaNeueLight') format("svg");
    font-weight:lighter;
    font-style:lighter
}
/*
@font-face{
    font-family:'gb';
    src:url('../font/Gotham-Black.eot');
    src:url('../font/Gotham-Black.eot?#iefix') format("embedded-opentype"),
        url('../font/Gotham-Black.woff') format("woff"),
        url('../font/Gotham-Black.ttf') format("truetype"),
        url('../font/Gotham-Black.svg#Gotham-Black') format("svg");
    font-weight:lighter;
    font-style:lighter
}
*/

/*************/
/* GENERALES */
/*************/
html{
}
html, body{
    
}
body, h1,h2,h3,h4,h5,h6,p, ul, li, a{margin: 0;padding: 0;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;}


/*.btn{
    color: #fff;
    padding: 1vh 1.7vw;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    border: 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 600;
}*/




/*******/
/*STUFF*/
/*******/

.logo-container{
    background-color: #fc5001;
    border: 15px solid #fff;
    border-top: 0;
    border-bottom: 0;
    padding-top: 25px;
    padding-bottom: 26px;
}

/************************/
/*Linea naranja superior*/
/************************/
#logo-holztek-svg-cabecera{
    margin: 0 auto;
    position: relative;
    width: 244px;
}

/********/
/*BANNER*/
/********/

#banner_superior{
    overflow-x: hidden;
}



.flecha{
    z-index: 5;
    background-color: rgba(255,255,255,0.3);
    width: 70px;
    height: 95px;
    position: absolute;
    top: 36vh;
    cursor: pointer;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    background-image: url(../img/flecha_l.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#flecha_L{
    left: 90px;
}
#flecha_R{
    right: 90px;
    background-image: url(../img/flecha_r.png);
}
#flecha_L:hover{
    background-color: #dd0021;
    width: 120px;
    background-position: 20% 50%;
}

#flecha_R:hover{
    background-color: #dd0021;
    width: 120px;
    background-position: 80% 50%;
}



.barra_slider{
    height: 1px;
    position: absolute;
    top: 0;
    margin-left: 15px;
}


#slider_detalle_container{
    height: 65vh;
    padding: 0;
    overflow: hidden;
}
#slider_detalle_container .slider_detalle{
    height: 100%;
}
#slider_detalle_container .slider_detalle .slide{
    min-height: : 400px;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    border: 15px solid #fff;
    border-top: 0;
    border-bottom: 0;
}
#slider_detalle_container .slider_detalle .slide:before,
#slider_detalle_container .slider_detalle .slide:after{
    content: "";
    position: absolute;
    width: 15px;
    height: 70px;
    z-index: 2;
    background-color: #f3f3f3;
    left: -15px;
    bottom: 0;
}
#slider_detalle_container .slider_detalle .slide:after{
    left: 100%;
}
#slider_detalle_container .slider_detalle h1{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: "hb";
    font-size: 1.6em;
    padding-top: 14vh;
    padding-left: 3em;
    padding-right: 3em;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    text-shadow: 0px 0.2em 0 rgba(0,0,0,0.3);
}
#slider_detalle_container .slider_detalle .linea-sep{
    height: 1px;
    background-color: #fff;
    width: 10%;
    margin: 1em auto;
}
#slider_detalle_container .slider_detalle .icon-cont{}
#slider_detalle_container .slider_detalle .icon-cont .icono{
    width: 7vh;
    height: 7vh;
    border: 1px solid #fff;
    padding: 6px;
    margin: 4vh auto;
}
#slider_detalle_container .slider_detalle .icon-cont .icono img{
    width: 100%;
}
#slider_detalle_container .slider_detalle h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: "hl";
    font-size: 1em;
    font-weight: lighter;
    padding-left: 15em;
    padding-right: 15em;
}

.punto{
    width: 10px;
    height: 10px;
    background-color: #fc5001;
    margin-left: 10px;
    float: left;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}
.punto.nml{margin-left: 0;}

/*#below-slider{
    background-color: #f3f3f3;
    width: 100%;
    z-index: -1;
    height: 30px;
}*/
#over_slider_container{
    position: relative;
    margin-top: -60px;
    display: block;
    padding: 0;
    z-index: 12;
    margin-bottom: -5px;
}

#over_slider_container svg{

}

/*********/
/*BOTONES*/
/*********/
#botonera_slides{
    background-color: #f3f3f3;
    text-align: center;
    padding: 20px 60px;
}

#botonera_slides .btn{
    text-transform: uppercase;
    border: 1px solid #a1a1a1;
    border-radius: 14px;
    padding: 8px 25px;
    color: #000;
    margin-bottom: 10px;
}

#botonera_slides .btn:hover,
#botonera_slides .btn.current{
    border-color:#dd0021;
    color: #dd0021;
}



/*********/
/*CAJITAS*/
/*********/
.galeria{}
.galeria .titulo{
    color: #b3b3b3;
    text-align: center;
    text-transform: uppercase;
    font-family: "hb";
    font-size: 1.7em;
    padding-top: 3vh;
    letter-spacing: 0.5em;
    padding-bottom: 3vh;
}
.box-img{
    cursor: pointer;
    margin-bottom: 25px;
}
.box-img img{
    width: 100%;
}
.box-img .textos{
    position: absolute;
    bottom: 15px;
    height: 20%;
    background-color: rgba(255,255,255,0.4);
    width: auto;
    padding-top: 3%;
    padding-left: 10px;
    padding-right: 10px;
}
.box-img .textos h1{
    color: #000;
    font-family: "hl";
    text-transform: uppercase;
    font-size: 1em;
}
.box-img .textos h2{
    color: #000;
    font-family: "hl";
    text-transform: uppercase;
    font-size: 2em;
}
.box-img .textos .btn-rojo{
    display: none;
    background-color: #dd0021;
    color: #fff;
    font-family: "hl";
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px auto;
}
/************************/
/*Linea naranja inferior*/
/************************/
#logo-holztek-svg-video{
    width: 244px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.logo-container h1{
    text-align: center;
    color: #fff;
    font-family: "hl";
    text-transform: uppercase;
    font-size: 1.4em;
    display: block;
    padding-top: 11px;
}

/*******/
/*VIDEO*/
/*******/

#video-container{
    height: 65vh;
    padding: 0;
}