@media 
only screen and (min-device-width: 320px) and (max-device-width: 767px),
only screen and (min-width: 320px) and (max-width: 767px) {
   	.logo-container {
	    padding-top: 15px;
	    padding-bottom: 16px;
	    border:0;
	}

   	.logo-holztek-svg {
	    transform: scale(0.8);
	    -webkit-transform: scale(0.8);
	}
	.slide {
	    
	}
	.flecha {
	    width: 30px;
	    height: 65px;
	    top: 40vh;
	}

	#flecha_R {
	    right: 30px;
	}
	#flecha_L {
	    left: 30px;
	}
	#slider_detalle_container .slider_detalle h1 {
	    font-size: 0.8em;
	    padding-top: 7vh;
	    letter-spacing: 0.4em;
	}

	#slider_detalle_container .slider_detalle .linea-sep {
	    width: 30%;
	}

	#slider_detalle_container .slider_detalle .icon-cont .icono {
	    width: 9vh;
	    height: 9vh;
	}

	#slider_detalle_container .slider_detalle h2 {
	    font-size: 0.9em;
	    padding-left: 2em;
	    padding-right: 2em;
	    padding-top: 1vh;
	}
	#slider_detalle_container .slider_detalle .slide:before,
	#slider_detalle_container .slider_detalle .slide:after{
	    /*background-color: #ffffff;*/
	}
	#botonera_slides {
	    padding: 15px;
	}
	#logo-holztek-svg-video {
	    margin: 0 auto;
    	float: none;
	}

@media 
only screen and (min-device-width: 768px) and (max-device-width: 991px),
only screen and (min-width: 768px) and (max-width: 991px) {
    
}/**/


@media (min-width: 1200px) {
    .logo-container h1{
	    padding-top: 19px;
	}
}/**/
